@charset "UTF-8";

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

body {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12pt;
    color: black;
    padding-top: 100px;
}

#suggestions {
    position:fixed;
    left:40px;
    top:70px;
    background-color: white;
    width:21em;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    z-index: 1;
}

#suggestions li {
    padding: 5px;
}

#suggestions li:hover {
    cursor: pointer;
}

.chosen {
    background: rgba(0,120,0, .2);
}

#suggestions li:hover, li:active {
    background: rgba(0,120,0, .2);
}

a:link {
    color:#336699;
    text-decoration: none;
}

a:visited {
    color:#336699;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#gaelicSearchForm {
    display: none;
}

#gdToEnToggle {
    display: none;
}

#backbutton {
    display: none;
}

div#gaelicEquivalentsList {
    padding-top: 10px;
    padding-bottom: 10px;
}

div.lexicopia-entry {
    border: thin solid;
}

.navbar-form {
    border-top: none;
    border-bottom: none;
}

.englishTranslation {
    color:gray;
    font-size: 11pt;
}

.navbar {
    background-color: #996633;
}

.navbar-default .navbar-nav>li>a  {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover  {
    color: white;
    text-decoration: underline;
}

.glyphicon-search {
    color: white;
}

/*
overriding bootstrap CSS
 */
.navbar {
    height: 60px;
}

.navbar-form {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.1) inset, 0 0 0 rgba(255, 255, 255, 0.1);
}