div.lexicopia-entry {
    padding: 20px;
    font-size: 12pt;
    font-family: Helvetica, Verdana, sans-serif;
    color: gray;
    /* border: thin solid; */
}

div.lexicopia-entry-header {
    padding: 10px;
    background-color: ghostwhite;
    /* border: thin solid; */
}

span.lexicopia-headword {
    /* headwords which are not clickable are orange */
    font-family: Verdana;
    color: #996633;
    font-size: x-large;
}

a.lexicopia-link:link { /* everything clickable is blue; */
    color:#336699;
    text-decoration: none;
}

a.lexicopia-link:visited {
    color:#336699;
    text-decoration: none;
}

a.lexicopia-link:hover {
    text-decoration: underline;
}

div.lexicopia-pos {
    padding-top: 10px;
    font-style: italic;
    /* border: thin solid; */
}

dl.lexicopia-structure {
    /*border: thin solid;*/
}

dl.lexicopia-entry-relations {
    /*border: thin solid;*/
}

dt {
    /*border: thin solid;*/
    padding-top: 10px;
    padding-bottom: 10px;
}

dd {
    /*border: thin solid;*/
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: Verdana;
}

dd.lexicopia-images {
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul.lexicopia-entry-notes {
    /* border: thin solid; */
    padding-top: 20px;
    font-size: small;
    padding-left: 20px;
}

dd > dl {
    /* border: thin solid; */
    margin-top: 0px;
}

dd > dl > dt {
    padding-top: 0px;
    padding-bottom: 0px;
}

div#backbutton {
    padding-left: 20px;
    padding-bottom: 50px;
}
